{% extends('base.html.twig') %}

{% block title %} Create New Article {% endblock %}


{% block body %}
    <h3 class="text-center">Create New Article</h3>
    {{ form_start(form) }}
    {{ form_widget(form)}}
    {{ form_end(form) }}
{% endblock %}